@model ShoppingOnline.WebApplication.Models.ProductViewModels.DetailViewModel
@{
    ViewData["Title"] = string.IsNullOrEmpty(Model.Product.SeoPageTitle) ? Model.Product.Name : Model.Product.SeoPageTitle;
    ViewData["MetaKeyword"] = Model.Product.SeoKeywords;
    ViewData["MetaDescription"] = Model.Product.SeoDescription;
    var category = Model.Category;
    var product = Model.Product;
}

@section Styles{
    <link href="~/lib/slick-carousel/slick/slick.css" rel="stylesheet" />
    <link href="~/lib/slick-carousel/slick/slick-theme.css" rel="stylesheet" />

}

@section Scripts{
    <script src="~/lib/slick-carousel/slick/slick.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/app-client/controllers/product/details.js" asp-append-version="true"></script>
    <script>
        var productDetailController = new ProductDetailController();
        productDetailController.initialize();
        $(".lazy").slick({
            lazyLoad: 'ondemand', // ondemand progressive anticipated
            infinite: true,
            dots: true
        });
    </script>
}

<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li class="home">
                        <a title="Go to home page" asp-action="Index" asp-controller="Home">Home</a><span>&raquo;</span>
                    </li>
                    <li class="">
                        <a title="@category.Name" href="/@category.SeoAlias-c.@(category.Id).html">@category.Name</a><span>&raquo;</span>
                    </li>
                    <li>
                        <strong>@product.Name</strong>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumbs End -->
<!-- Main Container -->
<div class="main-container col1-layout">
    <div class="container">
        <div class="row">
            <div class="col-main">
                <div class="product-view-area">
                    <div class="product-big-image col-xs-12 col-sm-5 col-lg-5 col-md-5">
                        <div class="icon-sale-label sale-left">Sale</div>

                        @* <div class="large-image"> *@
                        @*         <a href="@product.Image" class="cloud-zoom" id="zoom1" rel="useWrapper: false, adjustY:0, adjustX:20"> *@
                        @*             <img class="zoom-img" src="@product.Image" alt="@product.Name"> *@
                        @*         </a> *@
                        @*     </div> *@
                        <section class="lazy slider">
                            @foreach (var item in Model.ProductImages)
                            {
                                <div>
                                    <a href='@item.Path' class='cloud-zoom-gallery'>
                                        <img src="@item.Path" alt="@item.Caption" />
                                    </a>
                                </div>
                            }
                        </section>
                        <div class="flexslider flexslider-thumb">
                            <ul class="previews-list slides">
                                @foreach (var item in Model.ProductImages)
                                {
                                    <li style="width: 100px; float: left; display: block;">
                                        <a href='@item.Path' class='cloud-zoom-gallery' rel="useZoom: 'zoom1', smallImage: @item.Path"><img src="@item.Path" alt="@item.Caption" /></a>
                                    </li>
                                }
                            </ul>
                        </div>

                        <!-- end: more-images -->

                    </div>
                    <div class="col-xs-12 col-sm-7 col-lg-7 col-md-7 product-details-area">
                        <div class="product-name">
                            <h1>@product.Name</h1>
                        </div>

                        @if (product.PromotionPrice.HasValue)
                        {
                            <div class="price-box">
                                <p class="special-price">
                                    <span class="price-label">Special Price</span>
                                    <span class="price"> @product.PromotionPrice.Value.ToString("N0")</span>
                                </p>
                                <p class="old-price">
                                    <span class="price-label">Regular Price:</span>
                                    <span class="price"> @product.Price.ToString("N0") </span>
                                </p>
                            </div>
                        }
                        else
                        {
                            <div class="price-box">
                                <p class="special-price">
                                    <span class="price-label">Special Price</span>
                                    <span class="price"> @product.Price.ToString("N0")</span>
                                </p>
                            </div>
                        }
                        <div class="ratings">
                            <div class="rating">
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i>
                            </div>
                            <p class="rating-links">
                                <a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Your Review</a>
                            </p>
                            <p class="availability @(product.Status == ShoppingOnline.Data.Enum.Status.Active ? "in-stock" : "out-of-stock") pull-right">Availability: <span>@product.Status</span></p>
                        </div>
                        <div class="short-description">
                            <h2>Quick Overview</h2>
                            <p>@product.Description</p>
                        </div>
                        <div class="product-color-size-area">
                            <div class="color-area">
                                <h2 class="saider-bar-title">Color</h2>
                                <div class="color">
                                    <select asp-items="@Model.Colors" id="ddlColors"></select>
                                </div>
                            </div>
                            <div class="size-area">
                                <h2 class="saider-bar-title">Size</h2>
                                <div class="size">
                                    <select asp-items="@Model.Sizes" id="ddlSizes"></select>
                                </div>
                            </div>
                        </div>
                        <div class="product-variation">
                            <form action="#" method="post" id="frmMaintainance">
                                <div class="cart-plus-minus">
                                    <label for="qty">Quantity:</label>
                                    <div class="numbers-row">
                                        <div onClick="var result = document.getElementById('qty');var qty = result.value;if (!isNaN(qty) &amp;&amp;qty &gt;0 )result.value--;return false;" class="dec qtybutton">
                                            <i class="fa fa-minus">&nbsp;</i>
                                        </div>
                                        <input type="number" min="1" class="qty" title="Qty" value="1" maxlength="12" id="qty" name="qty">
                                        <div onClick="var result = document.getElementById('qty');var qty = result.value;if (!isNaN(qty)) result.value++;return false;" class="inc qtybutton">
                                            <i class="fa fa-plus">&nbsp;</i>
                                        </div>
                                    </div>
                                </div>
                                <button class="button pro-add-to-cart" title="Add to Cart" type="button" id="btnAddToCart" data-id="@Model.Product.Id">
                                    <span><i class="fa fa-shopping-basket"></i> Add to Cart</span>
                                </button>
                            </form>
                        </div>
                        <div class="product-cart-option">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-heart-o"></i><span>Add to Wishlist</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-link"></i><span>Add to Compare</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-envelope"></i><span>Email to a Friend</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="pro-tags">
                            <div class="pro-tags-title">Tags:</div>
                            @foreach (var item in Model.Tags)
                            {
                                <a href="/tag.@(item.Id).html">@item.Name</a>
                            }
                        </div>
                        <div class="share-box">
                            <div class="title">Share in social media</div>
                            <div class="socials-box">
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-youtube"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-overview-tab">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="product-tab-inner">
                                <ul id="product-detail-tab" class="nav nav-tabs product-tabs">
                                    <li class="active">
                                        <a href="#description" data-toggle="tab"> Description </a>
                                    </li>
                                </ul>
                                <div id="productTabContent" class="tab-content">
                                    <div class="tab-pane fade in active" id="description">
                                        <div class="std">
                                            @Html.Raw(product.Content)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @{
            var url = Model.Product.SeoAlias + "-p." + Model.Product.Id + ".html";
            <div class="fb-comments" data-href="https://localhost:5001/@url" data-width="100%" data-numposts="5"></div>
        }
    </div>
</div>

<!-- Main Container End -->
<!-- Related Product Slider -->

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="related-product-area">
                <div class="page-header">
                    <h2>Related Products</h2>
                </div>
                <div class="related-products-pro">
                    <div class="slider-items-products">
                        <div id="related-product-slider" class="product-flexslider hidden-buttons">
                            <div class="slider-items slider-width-col4 fadeInUp">
                                @foreach (var item in Model.RelatedProducts)
                                {
                                    var url1 = "/" + item.SeoAlias + "-p." + item.Id + ".html";
                                    <div class="product-item">
                                        <div class="item-inner">
                                            <div class="product-thumbnail">
                                                <div class="pr-img-area">
                                                    <a title="@item.Name" href="@url1">
                                                        <figure>
                                                            <img class="first-img" src="@item.Image" alt="@item.Name"> <img class="hover-img" src="@item.Image" alt="@item.Name">
                                                        </figure>
                                                    </a>
                                                </div>
                                                <div class="pr-info-area">
                                                    <div class="pr-button">
                                                        <div class="mt-button add_to_wishlist">
                                                            <a href="wishlist.html">
                                                                <i class="fa fa-heart-o"></i>
                                                            </a>
                                                        </div>
                                                        <div class="mt-button add_to_compare">
                                                            <a href="compare.html">
                                                                <i class="fa fa-link"></i>
                                                            </a>
                                                        </div>
                                                        <div class="mt-button quick-view">
                                                            <a href="quick_view.html">
                                                                <i class="fa fa-search"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item-info">
                                                <div class="info-inner">
                                                    <div class="item-title">
                                                        <a title="@item.Name" href="@url">@item.Name</a>
                                                    </div>
                                                    <div class="item-content">
                                                        <div class="rating">
                                                            <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i>
                                                        </div>
                                                        <div class="item-price">
                                                            <div class="price-box">
                                                                <span class="regular-price">
                                                                    <span class="price">@(item.PromotionPrice.HasValue ? item.PromotionPrice.Value.ToString("N0") : item.Price.ToString("N0"))</span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="pro-action">
                                                            <button type="button" class="add-to-cart">
                                                                <span> Add to Cart</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Related Product Slider End -->
<!-- Upsell Product Slider -->
<section class="upsell-product-area">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header">
                    <h2>UpSell Products</h2>
                </div>
                <div class="slider-items-products">
                    <div id="upsell-product-slider" class="product-flexslider hidden-buttons">
                        <div class="slider-items slider-width-col4">
                            @foreach (var item in Model.UpsellProducts)
                            {
                                var url2 = "/" + item.SeoAlias + "-p." + item.Id + ".html";

                                <div class="product-item">
                                    <div class="item-inner">
                                        <div class="product-thumbnail">
                                            <div class="icon-sale-label sale-left">Sale</div>
                                            <div class="icon-new-label new-right">New</div>
                                            <div class="pr-img-area">
                                                <a title="@item.Name" href="@url2">
                                                    <figure>
                                                        <img class="first-img" src="@item.Image" alt="@item.Name"> <img class="hover-img" src="@item.Image" alt="@item.Name">
                                                    </figure>
                                                </a>
                                            </div>
                                            <div class="pr-info-area">
                                                <div class="pr-button">
                                                    <div class="mt-button add_to_wishlist">
                                                        <a href="wishlist.html">
                                                            <i class="fa fa-heart-o"></i>
                                                        </a>
                                                    </div>
                                                    <div class="mt-button add_to_compare">
                                                        <a href="compare.html">
                                                            <i class="fa fa-link"></i>
                                                        </a>
                                                    </div>
                                                    <div class="mt-button quick-view">
                                                        <a href="quick_view.html">
                                                            <i class="fa fa-search"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item-info">
                                            <div class="info-inner">
                                                <div class="item-title">
                                                    <a title="@item.Name" href="@url">@item.Name</a>
                                                </div>
                                                <div class="item-content">
                                                    <div class="rating">
                                                        <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i>
                                                    </div>
                                                    <div class="item-price">
                                                        <div class="price-box">
                                                            <span class="regular-price">
                                                                <span class="price">@(item.PromotionPrice.HasValue ? item.PromotionPrice.Value.ToString("N0") : item.Price.ToString("N0"))</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="pro-action">
                                                        <button type="button" class="add-to-cart">
                                                            <span> Add to Cart</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Upsell Product Slider End -->
<!-- service section -->
<div class="jtv-service-area">
    <div class="container">
        <div class="row">
            <div class="col col-md-3 col-sm-6 col-xs-12">
                <div class="block-wrapper ship">
                    <div class="text-des">
                        <div class="icon-wrapper">
                            <i class="fa fa-paper-plane"></i>
                        </div>
                        <div class="service-wrapper">
                            <h3>World-Wide Shipping</h3>
                            <p>On order over $99</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-md-3 col-sm-6 col-xs-12 ">
                <div class="block-wrapper return">
                    <div class="text-des">
                        <div class="icon-wrapper">
                            <i class="fa fa-rotate-right"></i>
                        </div>
                        <div class="service-wrapper">
                            <h3>30 Days Return</h3>
                            <p>Moneyback guarantee </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-md-3 col-sm-6 col-xs-12">
                <div class="block-wrapper support">
                    <div class="text-des">
                        <div class="icon-wrapper">
                            <i class="fa fa-umbrella"></i>
                        </div>
                        <div class="service-wrapper">
                            <h3>Support 24/7</h3>
                            <p>Call us: ( +123 ) 456 789</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-md-3 col-sm-6 col-xs-12">
                <div class="block-wrapper user">
                    <div class="text-des">
                        <div class="icon-wrapper">
                            <i class="fa fa-tags"></i>
                        </div>
                        <div class="service-wrapper">
                            <h3>Member Discount</h3>
                            <p>25% on order over $199</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
